---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header>
    <div class="navbar bg-primary shadow-sm">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
		  </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
          <li><a href="#sobre">Nosotros</a></li>
          <li><a href="#clases">Clases</a></li>
          <li><a href="#galeria">Galería</a></li>
          <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
        <a href="#" class="btn btn-primary text-white text-xl">El Portal</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-white">
          <li><a href="#sobre">Nosotros</a></li>
          <li><a href="#clases">Clases</a></li>
          <li><a href="#galeria">Galería</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <div>
          <label class="flex cursor-pointer gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun-icon lucide-sun"
              ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"
              ></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"
              ></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"
              ></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"
              ></path><path d="m19.07 4.93-1.41 1.41"></path></svg
            >
            <input
              type="checkbox"
              value="dark"
              class="toggle theme-controller"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-moon-icon lucide-moon"
              ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
            >
          </label>
        </div>
        <a class="btn btn-primary text-white mx-3">WhatsApp</a>
      </div>
    </div>
  </header>
  <main>
    <section>
      <div
        class="hero min-h-screen"
        style="background-image: url(/images/hero.jpg);"
      >
        <div class="hero-overlay"></div>
        <div class="hero-content text-neutral-content text-center">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">El Portal</h1>
            <h2 class="mb-5 text-3xl font-bold">Instituto de Música</h2>
            <p class="mb-5">Abrí la puerta a tu mundo musical</p>
            <button class="btn btn-primary">Inscribite</button>
          </div>
        </div>
      </div>
    </section>
    <section id="sobre" class="bg-base-300 py-16 px-4">
      <div class="max-w-4xl mx-auto text-center my-6" data-aos="fade-up">
        <h2 class="text-3xl font-bold">Sobre Nosotros</h2>
        <p class="text-lg my-5">
          En El Portal creemos que la música transforma vidas. <br /> Somos un equipo
          de docentes apasionados que acompaña a cada estudiante en su camino artístico,
          desde quienes dan sus primeros pasos hasta músicos con experiencia.
          <br class="hidden sm:inline" />Nuestra misión es que cada persona
          encuentre su voz, su instrumento y su motivación para expresarse.
        </p>
      </div>
      <div
        class="max-w-4xl mx-auto text-center my-8 gap-6 flex flex-col lg:flex-row"
        data-aos="fade-up"
      >
        <div class="card bg-primary shadow-md">
          <div class="card-body items-center justify-center">
            <h3 class="card-title text-xl text-center">
              Enfoque personalizado
            </h3>
            <p class="">Cada estudiante tiene su ritmo y estilo único</p>
            <figure>
              <img src="/images/enfoque.jpg" width="400" height="600" alt="" />
            </figure>
          </div>
        </div>
        <div class="card bg-primary shadow-md">
          <div class="card-body items-center justify-center">
            <h3 class="card-title text-xl text-center">Docentes expertos</h3>
            <p class="">Profesionales apasionados por la enseñanza</p>
            <figure>
              <img src="/images/docentes.jpg" width="400" height="600" alt="" />
            </figure>
          </div>
        </div>
        <div class="card bg-primary shadow-md">
          <div class="card-body items-center justify-center">
            <h3 class="card-title text-xl text-center">Todas las edades</h3>
            <p class="">Desde niños hasta adultos mayores</p>
            <figure>
              <img src="/images/edades.jpg" width="400" height="600" alt="" />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <section id="clases" class="bg-base-100 py-20 px-4">
      <div class="max-w-6xl mx-auto text-center my-12">
        <div data-aos="fade-up">
          <h2 class="text-3xl font-bold">Clases</h2>
          <p class="mt-4 text-lg">
            Ofrecemos clases individuales y grupales, adaptadas a cada nivel. <br
            /> Ya sea que estés empezando o quieras perfeccionar tu técnica, tenemos
            un curso para vos.
          </p>
        </div>
        <div
          class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 my-6"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl text-center">🎸 Guitarra</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎸 Bajo Eléctrico</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🥁 Batería</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎶 Ukelele</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎹 Piano</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎤 Canto</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎼 Teoría Musical</h3>
            </div>
          </div>

          <div class="card bg-primary shadow-md">
            <div class="card-body items-center justify-center">
              <h3 class="card-title text-xl">🎻 Violín</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="galeria" class="bg-base-200 py-20 px-4">
      <div class="max-w-6xl mx-auto text-center my-12">
        <div data-aos="fade-up">
          <h2 class="text-3xl font-bold">Galería</h2>
          <p class="mt-4 text-lg">
            Así se vive la música en El Portal: clases, instrumentos y momentos
            únicos.
          </p>
        </div>

        <div
          class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4 my-8"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="/images/Screenshot_1.png"
            alt="Foto 1"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_2.png"
            alt="Foto 2"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_3.png"
            alt="Foto 3"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_4.png"
            alt="Foto 4"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_5.png"
            alt="Foto 5"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_6.png"
            alt="Foto 6"
            class="rounded-lg object-cover h-60 w-full"
          />
        </div>
      </div>
    </section>
    <section id="contacto" class="bg-base-100 py-20 px-4">
      <div class="max-w-4xl mx-auto space-y-10 text-center">
        <div data-aos="fade-up">
          <h2 class="text-3xl font-bold">¿Te sumás?</h2>
          <p class="text-base-content/80 mt-4 text-lg">
            Contactanos por cualquiera de nuestras vías o visitanos en nuestro
            espacio.
          </p>
        </div>

        <div
          class="grid gap-6 sm:grid-cols-2 text-left text-base-content"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="space-y-4">
            <p>
              <strong>📞 Teléfono / WhatsApp:</strong><br />
              <a href="https://wa.link/8ldiox" class="link"
                >+54 9 11 5601-5778</a
              >
            </p>
            <p>
              <strong>📧 Email:</strong><br />
              <a href="mailto:elportalmusica@gmail.com" class="link"
                >elportalmusica@gmail.com</a
              >
            </p>
            <p>
              <strong>📍 Dirección:</strong><br /> Sarmiento 914 1er Piso, General
              Rodríguez, Buenos Aires
            </p>
          </div>

          <div class="w-full h-64 rounded-lg overflow-hidden shadow-lg">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.911396200505!2d-58.952796822635904!3d-34.60640195764265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc8fc1271b0d99%3A0x405d9e6476c677c7!2sEscuela%20de%20M%C3%BAsica%20El%20Portal!5e0!3m2!1sen!2sar!4v1753525634379!5m2!1sen!2sar"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer
    class="footer sm:footer-horizontal bg-primary text-neutral-content items-center p-4"
  >
    <aside class="grid-flow-col items-center">
      <p>
        El Portal © {new Date().getFullYear()} - Todos los derechos reservados
      </p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <button class="btn btn-ghost">
        <a href="https://www.linkedin.com/in/luisina-gargiulo/" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-code-icon lucide-code"
            ><path d="m16 18 6-6-6-6"></path><path d="m8 6-6 6 6 6"></path></svg
          >
        </a></button
      >
    </nav>
  </footer>
</Layout>
