    <section id="galeria" class="bg-base-200 py-20 px-4">
      <div class="max-w-6xl mx-auto text-center my-12">
        <div data-aos="fade-up">
          <h2 class="text-3xl font-bold">Galería</h2>
          <p class="mt-4 text-lg">
            Así se vive la música en El Portal: clases, instrumentos y momentos
            únicos.
          </p>
        </div>

        <div
          class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4 my-8"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <img
            src="/images/Screenshot_1.png"
            alt="Foto 1"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_2.png"
            alt="Foto 2"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_3.png"
            alt="Foto 3"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_4.png"
            alt="Foto 4"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_5.png"
            alt="Foto 5"
            class="rounded-lg object-cover h-60 w-full"
          />
          <img
            src="/images/Screenshot_6.png"
            alt="Foto 6"
            class="rounded-lg object-cover h-60 w-full"
          />
        </div>
      </div>
    </section>