    <section>
      <div
        class="hero min-h-screen"
        style="background-image: url(/images/hero.jpg);"
      >
        <div class="hero-overlay"></div>
        <div class="hero-content text-neutral-content text-center">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">El Portal</h1>
            <h2 class="mb-5 text-3xl font-bold">Instituto de Música</h2>
            <p class="mb-5">Abrí la puerta a tu mundo musical</p>
            <button class="btn btn-primary"><a href="#contacto">Inscribite</a></button>
          </div>
        </div>
      </div>
    </section>