---
import "../styles/global.css";
---

<!doctype html>
<html lang="es" data-theme="emerald" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>El Portal</title>
  </head>
  <body class="font-outfit">
    <slot />
  </body>
</html>
